.estudios{
    display: flex;
    flex-direction: center;
    padding: 2rem;
    color: azure;
}
.container-estudios{
    width: 100%;
    line-height: 2.5rem;
    font-size: large;
    margin: 3rem;
    flex-direction: column;
}

/*celular*/
@media (max-width: 767px) {
    .container-estudios{
        width: 100%;
        padding: 2rem;
        margin-top: 1rem;
        line-height: 2.5rem;
        font-size: small;
        flex-direction: column;
    }
}

/*tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    .estudios{
        width: 75%;
    }
    .container-estudios{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
}

/*Escritorio* */
@media (min-width: 1024px) {
    .estudios{
        width: 75%;
    }
    
}.container-estudios{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
